body{
  background-color:white;
  #history{
    box-sizing: border-box;
    border: 3px solid rgba(97, 87, 87, 0.61);
    float: left;
    margin-top: 80px;
    width:35%;
    padding: 2%;
    overflow-y: scroll;
    height: 300px;
    margin-left: 3%;
  }
  
}